.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
}

.cointainer {
    display: grid;
    
}

.card {
    background-color: #15273f;
    border-radius: 25px;
    width: 400px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 auto;
}

.desc {
    color: #88aad7;
}

.nft {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.price {
    color: #01fcf3;
}

.logovalue {
    display: flex;
}

.priceandtime {
    column-count: 2;
}

.time {
    color: #88aad7;
}

.title {
    color: white;
}
