.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
    margin-left: 1rem;
}

.cointainer {
    display: grid;
    
}

.card {
    background-color: #15273f;
    border-radius: 25px;
    width: 375px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.desc {
    color: #88aad7;
    padding-left: 1rem;
    max-width: 350px;
}

.nft {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.price {
    color: #01fcf3;
    padding-left: 1rem;
}

.logovalue {
    display: flex;
}

.priceandtime {
    column-count: 2;
}

.time {
    color: #88aad7;
    padding-right: 1rem;
}

.title {
    color: white;
    padding-left: 1rem;
}


.right {
    grid-column: 2;
}